<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="sku_dlg" class="easyui-dialog" title="编辑sku" style="width:700px;height:520px;"
     closed="true"  data-options="iconCls:'icon-save',resizable:true,modal:false" buttons="#skuBtns" >
    <form id="skuForm">
        <br/>
        <label>sku名称:</label>
        <input  id="skuName" name="skuName" class="easyui-textbox" data-options="" style="width:300px;"/>
        <br/><br/>
        <label>商品价格:</label>
        <input  id="price" name="price" class="easyui-numberbox" data-options="min:0,precision:2" style="width:300px;"/>
        <br/><br/>
        <label>商品重量（千克):</label>
        <input  id="weight" name="weight" class="easyui-numberbox" data-options="min:0,precision:2" style="width:300px;"/>
        <br/><br/>
        <label>商品规格描述:</label>
        <input  id="skuDesc" name="skuDesc" class="easyui-textbox" data-options="multiline:true" style="width:500px;height:100px"/>
        <input id="spuIdForSku" name="spuId" type="hidden"/>

        <input id="skuId" name="id" type="hidden"/>

        <input id="catalog3IdForSku" name="catalog3Id" type="hidden"/>
        <br/><br/>

        <input id="skuInfo" name="skuInfo" type="hidden"/>


        <div id="attrInfoGroup"  title="平台属性" class="easyui-panel" style="padding:5px;" >
                平台属性列表
            <span attrId="">内存:<select value=""><option value="">1G</option><option>2G</option></select></span>
        </div>

        <div id="spuSaleAttrGroup" title="销售属性" class="easyui-panel" style="padding:5px;" ></div>



        <!----------------商品图片列表 ----------------------->

        <table id="skuImgDg" class="easyui-datagrid" title="商品图片列表"
               data-options="singleSelect:false,selectOnCheck:false,method:'get'" ></table>

        <br/><br/>
    </form>
</div>
<!----------------弹出框的按钮组----------------------->
<div id="skuBtns">
    <a href="#" class="easyui-linkbutton" onclick="saveSku()">保 存</a>
    <a href="#" class="easyui-linkbutton" onclick="closeSku()">关 闭</a>
</div>
    <script language="JavaScript">

        // 保存
        function saveSku() {
            var spu = $("#spulist_dg").datagrid("getSelected");
            var skuJson = {};
            skuJson["spuId"] = spu.id;
            skuJson["price"] = $("#price").numberbox("getValue");
            skuJson["skuName"] =$("#skuName").textbox("getValue") ;
            skuJson["weight"] = $("#weight").textbox("getValue");
            skuJson["skuDesc"] = $("#skuDesc").textbox("getValue");
            var catalog3Id = $("#ctg3ForSpuList").combobox("getValue");
            if(!catalog3Id){
                $.messager.alert('警告', '请先选择三级分类');
                return false;
            }
            skuJson["catalog3Id"] = catalog3Id;


            // 获取平台属性id集合
            var spans = $("#attrInfoGroup").children("span");
            $(spans).each(function (i,attr) {
                var attrId = $(attr).attr("attrId");
                skuJson["skuAttrValueList["+i+"].attrId"]= attrId;
                skuJson["skuAttrValueList["+i+"].valueId"]= $(spans).children("select").val();
            });

            // 获取销售属性id集合
            var spans = $("#spuSaleAttrGroup").children("span");
            $(spans).each(function (i,spuSaleAttr) {
                var spuSaleAttrId = $(spuSaleAttr).attr("spuSaleAttrId");
                skuJson["skuSaleAttrValueList["+i+"].saleAttrId"]= spuSaleAttrId;
                skuJson["skuSaleAttrValueList["+i+"].saleAttrValueId"]= $(spuSaleAttr).children("select").val();

                // 封装名称
                var spuSaleAttrName = $(spuSaleAttr).attr("spuSaleAttrName");
                var spuSaleAttrValueName = $(spuSaleAttr).children("select").find("option:selected").text();
                skuJson["skuSaleAttrValueList["+i+"].saleAttrName"]= spuSaleAttrName;
                skuJson["skuSaleAttrValueList["+i+"].saleAttrValueName"]= spuSaleAttrValueName;
            });

            var skuImgs = $("#skuImgDg").datagrid("getChecked");
            // 默认图片(skuInfo表中的数据)
            var defaultImg = $("input[name='isDefault']:checked").val();
            if(!defaultImg){
                defaultImg =  $(skuImgs)[0].imgUrl;
            }
            skuJson["skuDefaultImg"] = defaultImg;


            // 图片列表集合(sku图片表数据)

            $(skuImgs).each(function (i,skuImg) {
                skuJson["skuImageList["+i+"].imgName"] = skuImg.imgName;
                skuJson["skuImageList["+i+"].imgUrl"] = skuImg.imgUrl;
                skuJson["skuImageList["+i+"].spuImgId"] = skuImg.id;
                if(skuImg.imgUrl==defaultImg){
                    skuJson["skuImageList["+i+"].isDefault"] = "1";
                }
            });

            $.post("saveSku",skuJson,function (data) {
                // 关闭对话框
                $("#sku_dlg").dialog("close");
            })
        }

        // 初始化库存单元表
        function initSkuInfoDlg(spuId,skuInfo,catalog3Id){
            //打开对话框
            $('#sku_dlg').dialog("open");
            //初始化 表单
            initSkuForm(spuId,catalog3Id)
            loadSkuForm(skuInfo);

            //初始化图片表格
            initSkuImgListDatagrid(spuId) ;

            //初始化
            console.log("初始化销售属性!!!");
            initSpuSaleAttrGroup(spuId,skuInfo);

            console.log("初始化平台属性!!!");
            initAttrInfoGroup(catalog3Id);

            console.log("清理表单!!!");
        }

        // 初始化表单
        function initSkuForm(spuId,catalog3Id){

            $("#skuForm").form('clear');

            $("#spuIdForSku").val(spuId);
            $("#catalog3IdForSku").val(catalog3Id);
        }
        // 加载表单数据
        function loadSkuForm(skuInfo){
            console.log("开始加载sku表单："+skuInfo.id);
            if(!skuInfo||!skuInfo.id){
                return;
            }
            console.log("开始加载sku表单："+skuInfo.skuName);
            $("#skuName").textbox('setValue',skuInfo.skuName);
            $("#skuDesc").textbox('setValue',skuInfo.skuDesc);
            $("#price").textbox('setValue', skuInfo.price);
            $("#weight").textbox('setValue',skuInfo.weight);
            $("#spuIdForSku").val(skuInfo.spuId);
            $("#skuDefaultImg").val(skuInfo.skuDefaultImg);
            $("#skuId").val(skuInfo.id);
            $("#catalog3IdForSku").val(skuInfo.catalog3Id);
            $("#skuInfo").val(JSON.stringify(skuInfo));//用于异步加载的 暂存
            console.log("skuInfo in hidden:"+$("#skuInfo").val());

        }
        // 初始化图片表单
        function initSkuImgListDatagrid(spuId) {
            $("#skuImgDg").datagrid({url:'spuImageList?spuId='+spuId,
                columns:[[
                    { field:'checkFlag',checkbox:true},
                    { field:'id',title:'文件编号',width:'15%'},//隐藏文件页面内部编号
                    { field:'imgName',title:'图片简称',width:'30%'},
                    { field:'imgUrl',title:'图片路径' ,width:'20%',
                        formatter: function(value,row,index){
                            return "<img src='"+value+"' style='width:100px;height:100px;'/>";
                        }
                    },
                    { field:'isDefault',title:'是否默认图片' ,width:'20%' ,
                        formatter: function(value,row,index){
                            var url = row.imgUrl;
                            return "<input type='radio' name = 'isDefault' value='"+url+"' />";
                        }
                    }
                ]],
            });
        }
    // 加载图片数据
        function loadSkuImg(){
            if($("#skuInfo").val()==''){
                return;
            }
            var skuInfo=JSON.parse($("#skuInfo").val());

            if(!skuInfo||!skuInfo.skuImageList){
                return;
            }

            var imgDg=$('#skuImgDg') ;
            var imgRows =imgDg.datagrid("getRows");
            var skuImgList=skuInfo.skuImageList;
            for (var i = 0; i < imgRows.length; i++) {
                var imgRow = imgRows[i];
                for (var j = 0; j < skuImgList.length; j++) {
                    var skuImg = skuImgList[j];

                    if(skuImg.spuImgId==imgRow.id){
                        imgDg.datagrid("checkRow",i);
                        imgDg.datagrid("updateRow",{index:i,row:{isDefault:skuImg.isDefault}});
                    }

                }
            }
        }
    // 打开编辑模式
        function skuImgDgbeginEdit() {
            var skuImgDg = $("#skuImgDg");
            var rows = skuImgDg.datagrid('getRows');
            for (var i = 0; i < rows.length; i++) {
                skuImgDg.datagrid('beginEdit', i);
            }
        }
    // 初始化销售属性
        function initSpuSaleAttrGroup(spuId){
            $.post("spuSaleAttrList",{spuId:spuId},function (spuSaleAttrs) {
                $("#spuSaleAttrGroup").empty();
                $(spuSaleAttrs).each(function (i,spuSaleAttr) {
                    var spanBegin = " <span  spuSaleAttrId='"+spuSaleAttr.saleAttrId+"' spuSaleAttrName='"+spuSaleAttr.saleAttrName+"'>";
                    var saleAttrName = spuSaleAttr.saleAttrName;
                    var spanEnd = " </span>";

                    var selectBegin = "<select>";
                    var spuSaleAttrValueList = spuSaleAttr.spuSaleAttrValueList;
                    var options = "";
                    $(spuSaleAttrValueList).each(function (j,spuSaleAttrValue) {
                        var optionBegin = "<option value='"+spuSaleAttrValue.id+"'>";
                        var saleAttrValueName = spuSaleAttrValue.saleAttrValueName;
                        var optionEnd = "</option>";

                        options =options+ optionBegin+saleAttrValueName+optionEnd;
                    })
                    var selectEnd = "</select>";

                    $("#spuSaleAttrGroup").append(spanBegin+saleAttrName+":"+selectBegin+options+selectEnd+spanEnd);
                })
            });
        }
    // 加载销售属性列表
        function loadSkuSaleAttr(){
            if($("#skuInfo").val()==''){
                return;
            }
            var skuInfo=JSON.parse($("#skuInfo").val());
            console.log("开始加载sku销售属性："+skuInfo.skuSaleAttrValueList);
            if(!skuInfo ||!skuInfo.skuSaleAttrValueList){
                return;
            }
            var skuSaleAttrValueList=skuInfo.skuSaleAttrValueList;
            var selects = $("#spuSaleAttrGroup").find("select");
            console.log(" selects.html()::"+ selects.html())
            for (var i = 0; i < selects.length; i++) {
                var select = selects.eq(i);
                for (var j = 0; j < skuSaleAttrValueList.length; j++) {
                    if(skuSaleAttrValueList[j].saleAttrId==select.attr("saleAttrId")) {

                        select.val(skuSaleAttrValueList[j].saleAttrValueId);
                    }

                }
            }

        }
    // 初始化平台属性
        function initAttrInfoGroup(catalog3Id){
            $.post("getAttrList",{catalog3Id:catalog3Id},function(attrs){
                $("#attrInfoGroup").empty();
                $(attrs).each(function (i,attr){
                        var spanBegin = "<span attrId='"+attr.id+"'>";
                        var attrName = attr.attrName;
                        var spanEnd = "</span>";
                        var selectBegin = "<select>";
                        var attrValues = attr.attrValues;
                        var options = "";
                        $(attrValues).each(function (j,attrValue) {
                            var optionBegin = "<option value='"+attrValue.id+"'>";
                            var valueName = attrValue.valueName;
                            var optionEnd = "</option>";

                            options =options+ optionBegin+valueName+optionEnd;
                        })
                        var selectEnd = "</select>";
                    $("#attrInfoGroup").append(spanBegin+attrName+":"+selectBegin+ options +selectEnd+spanEnd);
                })

            });
        }
    // 加载平台属性
        function loadSkuAttrInfo(){
            if($("#skuInfo").val()==''){
                return;
            }
            var skuInfo=JSON.parse($("#skuInfo").val())  ;
            console.log("开始加载sku平台属性："+skuInfo.skuAttrValueList);
            if(!skuInfo||!skuInfo.skuAttrValueList){
                return;
            }
            var skuAttrValueList=skuInfo.skuAttrValueList;
            var selects = $('#attrInfoGroup').find("select");

            for (var i = 0; i < selects.length; i++) {
                var select = selects.eq(i);
                for (var j = 0; j < skuAttrValueList.length; j++) {

                    if(skuAttrValueList[j].attrId==select.attr("attrId")) {
                        select.val(skuAttrValueList[j].valueId);
                    }
                }
            }
        }
        // 关闭

        function closeSku(){
            $('#sku_dlg').dialog("close");
        }


    </script>

</body>
</html>